# misc
.DS_Store
.env.local
.env.production

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.eslintcache
*.wasm
.repl_history

services/*/debug/
services/*/target/
**/*.rs.bk
*.pdb

client/node_modules/
services/*/node_modules/
services/*/dist/
